# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# FIREBASE CONFIGURATION (Opsional saat deploy di Vercel — otomatis fallback ke firebase-applet-config.json jika dikosongkan)
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0492531590"
VITE_FIREBASE_APP_ID="1:1039006948842:web:8ba229a3972525e9476693"
VITE_FIREBASE_API_KEY="AIzaSyD9teg_5sTrOeMVaWvBmK1BUbiVrODXJKQ"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0492531590.firebaseapp.com"
VITE_FIREBASE_DATABASE_ID="ai-studio-portallayananpar-6a0577b2-01d8-44b9-83a7-7b9bba7c1da3"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0492531590.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="1039006948842"
